# Weekly Status

In [1]:
import sys
import pandas as pd              # python package for dataframes
import os                        # used to change directory paths
import matplotlib.pyplot as plt  # python package for plotting
import numpy as np
import seaborn as sns #package for plotting
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
from IPython.display import display, HTML  # Make tables pretty
from datetime import datetime
import pandas as pd
import zipfile

Zipped csv, output from SAS project, Jpathquarters [\\cskma0294\F\SH\Jpathquarters.egp] imported below

<em>Commented out temporarily</em>

In [2]:

#zf = zipfile.ZipFile('\\\\cskma0294\\F\\Evaluations\\JobPath\\jp_outcomes.zip')
#df = pd.read_csv(zf.open('jp_outcomes.csv'))

# filename_jp_zip = 'jp_outcomes.csv'
# path_jp_zip = '\\\\cskma0294\\F\\Evaluations\\JobPath'

# data_jp = pd.read_csv(path_jp_zip+filename_jp)

In [3]:
#df.head()

## Import WeeklyStatus.csv into a DataFrame and tidy

### Import WeeklyStatus.csv

In [4]:
zf2 = zipfile.ZipFile('\\\\cskma0294\\F\\Evaluations\\JobPath\\\Quarterly_status\\WeeklyStatus.zip')
df2 = pd.read_csv(zf2.open('WeeklyStatus.csv'))

df2.head()

,ppsn,Purge_ind,StatusEnd_01Apr2018,StatusEnd_01Feb2015,StatusEnd_01Jan2017,StatusEnd_01Jul2018,StatusEnd_01Jun2014,StatusEnd_01Mar2015,StatusEnd_01May2016,StatusEnd_01Nov2015,...,StatusEnd_30Aug2015,StatusEnd_30Jul2017,StatusEnd_30Nov2014,StatusEnd_30Oct2016,StatusEnd_30Sep2018,StatusEnd_31Aug2014,StatusEnd_31Dec2017,StatusEnd_31Jan2016,StatusEnd_31Jul2016,StatusEnd_31May2015
0,0001147L,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001841E,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001870L,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0009292O,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0009502W,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Rename 'StatusEnd_ddmmmyyyy' column names
Change 'StatusEnd_ddmmmyyyy' column name strings to integers of the form yyyymmdd, which can then be ordered by date and – if converted to integers with <em>int()</em> – manipulated numerically

In [5]:
original_columns = df2.columns.values
new_columns = original_columns.copy()

months = {
    "Jan": "01",
    "Feb": "02",
    "Mar": "03",
    "Apr": "04",
    "May": "05",
    "Jun": "06",
    "Jul": "07",
    "Aug": "08",
    "Sep": "09",
    "Oct": "10",
    "Nov": "11",
    "Dec": "12"
}

for i in range(2, len(original_columns)):
    year = original_columns[i][15:]
    month = months[original_columns[i][12:15]]
    day = original_columns[i][10:12]
    new_columns[i] = year + month + day

In [6]:
df2.columns = new_columns
df2.head()

,ppsn,Purge_ind,20180401,20150201,20170101,20180701,20140601,20150301,20160501,20151101,...,20150830,20170730,20141130,20161030,20180930,20140831,20171231,20160131,20160731,20150531
0,0001147L,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001841E,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001870L,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0009292O,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0009502W,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Sort columns by date

In [7]:
sorted_columns = np.append(new_columns[:2], sorted(new_columns[2:]))
df2 = df2[sorted_columns]
df2.head()

,ppsn,Purge_ind,20140406,20140413,20140420,20140427,20140504,20140511,20140518,20140525,...,20180729,20180805,20180812,20180819,20180826,20180902,20180909,20180916,20180923,20180930
0,0001147L,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001841E,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001870L,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0009292O,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0009502W,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Transform the DataFrame so that it has a single date column and a single status column
### Split the DataFrame into 3
Split the DataFrame in 3 across its width. This is to reduce the memory requirement when melt is used below.

First we separate the ppsn column into a DataFrame <em>df_id</em>, which we can concatenate to each of the segments of the original DataFrame.

In [8]:
df2_id = df2.iloc[:,0:1]
df2_id.head()

       ppsn
0  0001147L
1  0001841E
2  0001870L
3  0009292O
4  0009502W

Split the DataFrame into parts and concatenate <em>df_id</em> to the left of each part.

<em>For now we are just taking the first 10 date columns</em>.

In [9]:
cutoff1 = 10
#cutoff2 = 160
df2_part1 = pd.concat([df2_id, df2.iloc[:,2:cutoff1]], axis=1)
#df2_part2 = pd.concat([df2_id, df2.iloc[:,cutoff1:cutoff2]], axis=1)
#df2_part3 = pd.concat([df2_id, df2.iloc[:,cutoff2:]], axis=1)

In [10]:
df2_part1.head(1)

,ppsn,20140406,20140413,20140420,20140427,20140504,20140511,20140518,20140525
0,0001147L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Melt each of the parts into long DataFrames with a single date column and a single status column

In [11]:
df3_part1 = pd.melt(df2_part1, id_vars = ['ppsn'], var_name = 'date', value_name = 'status_codes')
#df3_part2 = pd.melt(df2_part2, id_vars = ['ppsn'], var_name = 'date', value_name = 'status_codes')
#df3_part3 = pd.melt(df2_part3, id_vars = ['ppsn'], var_name = 'date', value_name = 'status_codes')

## Export as CSVs (optional)

In [12]:
# df3_part1.to_csv('\\\\cskma0294\\F\\Evaluations\\JobPath\\WeeklyStatus_long.csv')
# ..

## Import as CSV (alternative to running all of the above if file exists)

In [13]:
# df3_part1 = pd.read_csv('\\\\cskma0294\\F\\Evaluations\\JobPath\\WeeklyStatus_long.csv')
# ..

## Split status codes
Code to split a string containing multiple status codes into a List of single status codes

In [14]:
# str_split_in_n takes a string x and splits it into a sorted list using a separator (default value '+') of length n. 
# If the length of the list is less than n, them one or two  are more
def str_split_in_n(x, n, sep='+', descend = False):
    s = str.split(str(x),sep)
    s.sort(reverse = descend)
    l = len(s)
    for i in range(len(s),n):
        s.append(float('nan'))             # could use '' instead of float('nan')
    if len(s) > n:
        s[n-1] = '+'.join(s[n-1:])
    return s[:n]

Examples

In [15]:
s1 = str_split_in_n('WCP+FIS+UBCO', 3, descend = True)
print(s1)
s2 = str_split_in_n('SPC+SPNC+UA+O 65', 6, descend = True)
print(s2)

['WCP', 'UBCO', 'FIS']
['UA', 'SPNC', 'SPC', 'O 65', nan, nan]

Code to select the element in the position <em>series_index</em> in a series created by splitting string <em>s</em> 
into a series of length <em>series_length</em> using <em>str_split_in_n</em>, using a separator (default value '+'), in ascending order (default).

In [16]:
def select_from_str_split(s, series_length, series_index, sep = '+', descend = False):
    return(str_split_in_n(s, series_length, sep, descend)[series_index])

Split the status codes in 4 in descending order and select the 1st to 4th status codes and put them in new columns.

In [18]:
num_status_columns = 4     # Number of status columns
loc_status_codes = 2       # Column index of combined status codes
df3_part1['status_1'] = df3_part1.apply(lambda row: 
                                        select_from_str_split(row[loc_status_codes], num_status_columns, 0, descend = True), 
                                        axis=1)

In [21]:
df3_part1['status_2'] = df3_part1.apply(lambda row: 
                                        select_from_str_split(row[loc_status_codes], num_status_columns, 1, descend = True), axis=1)
df3_part1['status_3'] = df3_part1.apply(lambda row: 
                                        select_from_str_split(row[loc_status_codes], num_status_columns, 2, descend = True), axis=1)
df3_part1['status_4'] = df3_part1.apply(lambda row: 
                                        select_from_str_split(row[loc_status_codes], num_status_columns, 3, descend = True), axis=1)

In [22]:
df3_part1.head()

       ppsn      date status_codes status_1 status_2 status_3 status_4
0  0001147L  20140406          NaN      nan      NaN      NaN      NaN
1  0001841E  20140406          NaN      nan      NaN      NaN      NaN
2  0001870L  20140406          NaN      nan      NaN      NaN      NaN
3  0009292O  20140406          NaN      nan      NaN      NaN      NaN
4  0009502W  20140406          NaN      nan      NaN      NaN      NaN

In [23]:
df3_part1['status_1'].value_counts()

nan       3472830
UA        1797592
C-UA       363949
UBCO       266314
UB         220985
BTE        142481
C-UB       134282
OFP         90435
INTN        39728
FIS         32643
BTW         26562
O 65        22109
CA          20215
SEMP        19024
WCP         16612
SPC         10805
DA           7531
SST          5892
SPT          3830
SPNC         2880
STEA         2101
OFPJST       1787
FASS         1602
PTJI         1169
IP            843
LMAF          680
WPGO          571
PRTA          301
FISH           79
SMLH            8
Name: status_1, dtype: int64

## Create flags for each status code

In [24]:
status_list = ['CA', 'C-UA', 'C-UB', 'FASS', 'FISH', 'UA', 'UB', 'INTN', 'SEMP', 'SST', 'STEA', 'DA', 'IP', 'OFP', 
               'OFPJST', 'PRTA', 'SPC', 'WCP', 'O 65', 'BTE', 'BTW', 'FIS', 'PTJI', 'UBCO', 'SPNC', 'SPT', 'LMAF', 
               'WPGO', 'SPFT', 'YDI', 'SMLH'] # add more?

def match_in_range(s, row, start_range, end_range):
    match = 0
    for i in range(start_range, end_range):
        if s == row[i]:
            match = 1
    return match

In [25]:
for e in status_list:
    df3_part1[e] = df3_part1.apply(lambda row: match_in_range(e, row, 3, 6), axis=1)

See all the status codes in column 1

In [26]:
df3_part1['status_1'].value_counts()

nan       3472830
UA        1797592
C-UA       363949
UBCO       266314
UB         220985
BTE        142481
C-UB       134282
OFP         90435
INTN        39728
FIS         32643
BTW         26562
O 65        22109
CA          20215
SEMP        19024
WCP         16612
SPC         10805
DA           7531
SST          5892
SPT          3830
SPNC         2880
STEA         2101
OFPJST       1787
FASS         1602
PTJI         1169
IP            843
LMAF          680
WPGO          571
PRTA          301
FISH           79
SMLH            8
Name: status_1, dtype: int64

See all the status codes in column 2. 
A code will appear in this column, for each individual, for each time point where they have more than one status.

In [27]:
df3_part1['status_2'].value_counts()

O 65      10521
CA         8907
UBCO       8584
DA         7006
FIS        5682
OFP        4768
SPC        1835
IP          615
C-UA        530
C-UB        287
UA          269
BTE         155
UB          147
SPT          72
SEMP         26
OFPJST       24
INTN         24
SPNC         15
SST           8
BTW           1
Name: status_2, dtype: int64

See all the status codes in column 3.<br>
A code will appear in this column, for each individual, for each time point where they have more than one status.

In [28]:
df3_part1['status_3'].value_counts()

O 65    962
CA      173
FIS      29
SPC      23
C-UA      8
OFP       8
Name: status_3, dtype: int64

See all the status codes in column 4.<br>
A code will appear in this column, for each individual, for each time point where they have more than one status.

In [29]:
df3_part1['status_4'].value_counts()

CA      8
O 65    7
Name: status_4, dtype: int64

## Find all status values

Find out all the different status codes in the DataFrame. This may be useful when everything is put back into a single DataFrame.

In [31]:
#all_status = np.unique(df3_part1.iloc[:, 3:7].values)
#all_status

In [32]:
#np.unique(df2.iloc[:, 2:3].values) # This code takes a little while to run

## Create summary flags for different status codes

Initial thoughts on flags:<br> 
EMPL==1 if values in FIS C-UA C-UB WFP BTW<br>
    WSWP-LF==1 if values in JA JB JST C-UA C-UB BTW<br>
    WSWP=1 if values in DA IP OFP CA Mat<br>
    EducTrain==1 if values in BTEA MOM<br>
    LR flag==1 if values in C-UA C-UB UBCO UA UB<br>
    CasualFlag==1 if values in C-UA C-UB<br>
    CreditsFlag==1 if values in UBCO<br>
    OverlapFlag==1 if WSWP-LF==1 and WSWP==1<br>

Implementation of 5 flags (differs a little from the above note)

In [33]:
df3_part1['LM_WSW'] = df3_part1.apply(lambda row: min(row['C-UA'] + row['C-UB'] + row['FASS'] + row['FISH'] + row['UA'] + 
                                                      row['UB'] + row['INTN'] + row['SEMP'] + row['SST'] + row['YDI'] + 
                                                      row['STEA'] + row['SMLH'], 1), axis=1)

In [34]:
df3_part1['WSW_Non_LM'] = df3_part1.apply(lambda row: min(row['CA'] + row['DA'] + row['IP'] + row['OFP'] + row['OFPJST'] + 
                                                          row['PRTA'] + row['SPC'] + row['WCP'] + row['O 65'] + 
                                                          row['SPNC'] + row['SPT'] + row['WPGO'], 1), axis=1)

df3_part1['Ed_or_Training'] = df3_part1.apply(lambda row: min(row['BTE'] + row['SPFT'], 1), axis=1)

df3_part1['Empl'] = df3_part1.apply(lambda row: min(row['BTW'] + row['C-UA'] + row['C-UB'] + row['FIS'] + row['INTN'] + 
                                                    row['PTJI'] + row['SEMP'] + row['SST'] + row['STEA'], 1), axis=1)

In [35]:
df3_part1['LR'] = df3_part1.apply(lambda row: min(row['C-UA'] + row['C-UB'] + row['UA'] + row['UB'] + row['UBCO'], 1), axis=1)

In [36]:
df3_part1.head()

,ppsn,date,status_codes,status_1,status_2,status_3,status_4,CA,C-UA,C-UB,...,LMAF,WPGO,SPFT,YDI,SMLH,LM_WSW,WSW_Non_LM,Ed_or_Training,Empl,LR
0,0001147L,20140406,NaN,nan,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0001841E,20140406,NaN,nan,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0001870L,20140406,NaN,nan,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0009292O,20140406,NaN,nan,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0009502W,20140406,NaN,nan,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df3_part1.describe()

,CA,C-UA,C-UB,FASS,FISH,UA,UB,INTN,SEMP,SST,...,LMAF,WPGO,SPFT,YDI,SMLH,LM_WSW,WSW_Non_LM,Ed_or_Training,Empl,LR
count,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,...,6.705840e+06,6.705840e+06,6705840.0,6705840.0,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06,6.705840e+06
mean,4.368580e-03,5.435367e-02,2.006743e-02,2.388962e-04,1.178078e-05,2.681038e-01,3.297603e-02,5.926774e-03,2.840807e-03,8.798301e-04,...,1.014041e-04,8.514966e-05,0.0,0.0,1.192990e-06,3.857135e-01,2.957661e-02,2.127042e-02,9.423174e-02,4.164947e-01
std,6.595071e-02,2.267143e-01,1.402310e-01,1.545442e-02,3.432294e-03,4.429720e-01,1.785738e-01,7.675707e-02,5.322347e-02,2.964888e-02,...,1.006945e-02,9.227265e-03,0.0,0.0,1.092240e-03,4.867634e-01,1.694162e-01,1.442844e-01,2.921509e-01,4.929776e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,0.0,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [38]:
df3_part1['LM_WSW'].value_counts()

0    4119307
1    2586533
Name: LM_WSW, dtype: int64

In [39]:
df3_part1['WSW_Non_LM'].value_counts()

0    6507504
1     198336
Name: WSW_Non_LM, dtype: int64

In [40]:
df3_part1['Ed_or_Training'].value_counts()

0    6563204
1     142636
Name: Ed_or_Training, dtype: int64

In [41]:
df3_part1['Empl'].value_counts()

0    6073937
1     631903
Name: Empl, dtype: int64

## Export DataFrame to CSV

In [50]:
import datetime

'\\\\cskma0294\\F\\Evaluations\\JobPath\\WeeklyStatus_part1_'+str(datetime.datetime.now()).split('.')[0][0:10]+'.csv'

'\\\\cskma0294\\F\\Evaluations\\JobPath\\WeeklyStatus_part1_2018-12-20.csv'

In [ ]:
df3_part1.to_csv('\\\\cskma0294\\F\\Evaluations\\JobPath\\WeeklyStatus_part1_'+str(datetime.datetime.now()).split('.')[0][0:10]+'.csv')

In [ ]:
#df3['LM_WSW'] = df3.apply(lambda row: max(row['CA'] + row['C-UA'] + row['C-UB'] + row['FASS'] + row['FISH'] + 
#                                          row['UA'] + row['UB'] + row['INTN'] + row['SEMP'] + row['SST'] + 
#                                          row['STEA'], 1), axis=1)
#df3['WSW_Non_LM'] = df3.apply(lambda row: max(row['DA'] + row['IP'] + row['OFP'] + row['OFPJST'] + row['PRTA'] + 
#                                              row['SPC'] + row['WCP'] + row['O 65'], 1), axis=1)
#df3['Ed_or_Training'] = df3.apply(lambda row: row['BTE'], axis=1)
#df3['Empl'] = df3.apply(lambda row: max(row['BTW'] + row['C-UA'] + row['C-UB'] + row['FIS'] + row['INTN'] + 
#                                        row['PTJI'] + row['SEMP'] + row['SST'] + row['STEA'], 1), axis=1)

## Combine the parts back into a single DataFrame

In the case where there are 3 parts:

In [ ]:
#df3 = pd.concat([df3_part1, df3_part2, df3_part3])

In [ ]:
#df3.tail()

In [ ]:
#df3.head()

## <em>Alternative approach to creating flags across different status codes</em>

In [ ]:
def isLR(x):
    
    lr_types = ['C-UA', 'C-UB', 'UBCO', 'JA', 'JB']
    if type(x) is str:
        # just returns it untouched
        if x in lr_types:
            return 1
        else:
            return 0
    else:
        return x

In [ ]:
#dfLR = df2.applymap(isLR)
#dfLR.columns = new_columns
#dfLR.head()