### Weekly Status

In [2]:
import sys
import pandas as pd              # python package for dataframes
import os                        # used to change directory paths
import matplotlib.pyplot as plt  # python package for plotting
import numpy as np
import seaborn as sns #package for plotting
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
from IPython.display import display, HTML  # Make tables pretty
from datetime import datetime
import pandas as pd
import zipfile

Zipped csv, output from SAS project, Jpathquarters [\\cskma0294\F\SH\Jpathquarters.egp] imported below

In [3]:

zf = zipfile.ZipFile('\\\\cskma0294\\F\\Evaluations\\JobPath\\jp_outcomes.zip')
df = pd.read_csv(zf.open('jp_outcomes.csv'))

# filename_jp_zip = 'jp_outcomes.csv'
# path_jp_zip = '\\\\cskma0294\\F\\Evaluations\\JobPath'

# data_jp = pd.read_csv(path_jp_zip+filename_jp)

In [4]:
df.head()

,Unnamed: 0,id,cluster,age,duration_days_0,sex,LM_code_rank_P1,occupation_rank_P1,ada_code_rank_P1,family_flag_rank_P1,...,earn_other_mean_1315,earn_tot_mean_1215,earn_tot_mean_1315,sw_pay_2013,sw_pay_2014,sw_pay_2015,sw_pay_2016,sw_pay_2017,sw_pay_2018,sw_pay_mean_1315
0,0,0,2,54.0,6316,1.0,6.0,2.0,5,3,...,0.0,0.0,0.0,9018.6,16863.8,17020.20,15512.8,10735.1,5425.5,14300.866667
1,1,1,2,59.0,3964,2.0,6.0,5.0,5,3,...,0.0,0.0,0.0,8392.8,16863.8,17020.20,17116.5,17179.6,8464.8,14092.266667
2,2,2,2,59.0,1285,2.0,6.0,7.0,4,1,...,0.0,0.0,0.0,4066.4,8171.9,8250.10,8265.7,8445.5,4233.0,6829.466667
3,3,3,5,55.0,1415,2.0,6.0,2.0,6,3,...,0.0,0.0,0.0,4066.4,8171.9,7710.35,264.9,0.0,0.0,6649.550000
4,4,4,2,59.0,2445,2.0,6.0,7.0,5,3,...,0.0,0.0,0.0,8392.8,16863.8,17120.20,17116.5,17472.1,11002.3,14125.600000

Flags : EMPL==1 if values in FIS C-UA C-UB WFP BTW
    WSWP-LF==1 if values in JA JB JST C-UA C-UB BTW
    WSWP=1 if values in DA IP OFP CA Mat
    EducTrain==1 if values in BTEA MOM
    LR flag==1 if values in C-UA C-UB UBCO JA JB
    CasualFlag==1 if values in C-UA C-UB
    CreditsFlag==1 if values in UBCO
    OverlapFlag==1 if WSWP-LF==1 and WSWP==1